<ion-header>
    <ion-navbar>
        <ion-title>
            My Quizzes
        </ion-title>
        <ion-buttons end>
            <img src="{{user.photoURL}}" class="img-circle" id="avatar" (click)="userAction()"/>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>


    <ion-list>

        <div *ngIf='user'>
            <div>You're logged in as {{ user.email }} (<a (click)="signOut()">Logout</a>)</div>
            <div *ngIf="!isLoaded" class="loading"></div>
            <div *ngFor='let quiz of quizzes | async'>
                <ion-card (click)="quizPage(quiz)">
                    <ion-img src="{{ quiz.picture }}"></ion-img>
                    <ion-card-content>
                        <ion-card-title>
                            {{ quiz.name }}
                        </ion-card-title>
                        <p>
                            {{ quiz.caption }}
                        </p>
                    </ion-card-content>
                </ion-card>
            </div>

        </div>

        <div *ngIf='!user'>
            Please sign in to continue
            <button (click)='signIn()' class='btn-google' ion-button block>
                <ion-icon class='fa' name="logo-google"></ion-icon>
                Sign in with Google
            </button>
        </div>

    </ion-list>

    <ion-fab right bottom *ngIf='user'>
        <button ion-fab mini (click)="addQuiz()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>

