page-home {
  .btn-google {
    background-color: hsl(7, 71%, 55%);
  }

  #avatar {
    height: 32px;
    vertical-align: middle;
  }

  #avatar-container {
    margin-right: 0.5rem;
    height: 100%
  }
  .stat {
    border-color: #ECEFF1;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    cursor: pointer;

  }



}
