<ion-header>
    <ion-navbar>
        <ion-title>
            My Quizzes
        </ion-title>
        <ion-buttons end>
            <div *ngIf='user' (click)="userAction()" id="avatar-container"><img src="{{user.photoURL}}" class="img-circle" id="avatar"/></div>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <div *ngIf='user'>
            <div *ngIf="!isLoaded" class="loading"></div>
            <div *ngFor='let quiz of quizzes'>
                <ion-card (click)="quizPage(quiz)">
                    <img src="{{ quiz.picture }}"/>
                    <ion-card-content>
                        <ion-card-title>
                            {{ quiz.name }}
                        </ion-card-title>
                        <p>
                            {{ quiz.caption }}
                        </p>
                    </ion-card-content>
                </ion-card>
            </div>
            <div *ngIf="isLoaded && (quizzes?.length <= 0)" class="center-alert">
                <ion-icon name="sunny"></ion-icon>
                <br/>
                You have no quiz.
                <button (click)="gostat()">gostat</button>
            </div>
        </div>

        <div *ngIf='!user'>
            Please sign in to continue
            <button (click)='signIn()' class='btn-google' ion-button icon-left block>
                <ion-icon name="logo-google"></ion-icon>
                Sign in with Google
            </button>

        </div>

    </ion-list>

    <ion-fab right bottom *ngIf='user'>
        <button ion-fab mini (click)="addQuiz()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>

</ion-content>

