<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{ 'FEATURED_QUIZZES' | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <!-- Loading alert -->
    <div *ngIf="!isLoaded" class="loading"></div>

    <!-- Quiz display -->
    <div>
        <ion-card *ngFor="let quiz of quizzes" (click)="quizPage(quiz)">
            <img src="{{quiz.picture || 'assets/loading.gif' }}"/>  <!--perform image loading function-->
            <ion-card-content>
                <ion-card-title>
                    {{ quiz.name }}
                </ion-card-title>
                <p>
                    {{ quiz.caption }}
                </p>
            </ion-card-content>
            <ion-row>
                <ion-col text-left>
                    <ion-note>
                        by {{ quiz.ownerName }}
                    </ion-note>
                </ion-col>
                <ion-col text-center>
                    <ion-note>
                        {{ quiz.stat.counter }} plays
                    </ion-note>
                </ion-col>
                <ion-col text-right>
                    <ion-note>
                        {{ "LEVEL" | translate }} {{ quiz.getRate() }}
                        {{ quiz.category ? (("CATEGORY_VALUE."+quiz.category) | translate) : '' }}
                    </ion-note>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>

    <!-- Load more -->
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>
