<ion-header>
    <ion-navbar>
        <ion-title>Featured Quizzes</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div *ngIf="!loaded"  class="loading"></div>
    <div *ngFor="let quiz of quizzes | async">
        <ion-card (click)="quizPage(quiz)">
            <img src="{{quiz.picture}}" />  <!--perform image loading function-->
            <ion-card-content>
                <ion-card-title>
                    {{ quiz.name }}
                </ion-card-title>
                <p>
                    {{ quiz.caption }}
                </p>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
