page-features {
  .hidden{
    display:none;
  }
  .loader{
   height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    padding-top:50%
  }
  svg path,
  svg rect{
    fill: #FF6700;
  }

}
