// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$colors: (
        primary: #2196f3,
        secondary: #26a69a,
        danger: #d32f2f,
        light: #f4f4f4,
        dark: #222
);

.sector {
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: color($colors, danger);
  color: white;
  line-height: 1.5rem;
  padding: 15px 25px 15px 15px;
  width: 100%
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin: -20px 0 0 -20px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 #000 rgba(255, 255, 255, .5) rgba(255, 255, 255, .5);
  opacity: .9;
  border-radius: 20px;
  animation: rotate 1s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@-ms-keyframes rotate {
  0% {
    -ms-transform: rotate(0deg)
  }
  100% {
    -ms-transform: rotate(360deg)
  }
}

.img-circle {
  border-radius: 50%;
}

.center-alert {
  margin-top: 30vh;
  opacity: .9;
  width: 100vw;
  text-align: center;
  font-size: 2.5rem;
  ion-icon {
    font-size: 7rem !important;
    margin-bottom: 1rem;
  }

  .ion-canvas {
    width: 100%;
    canvas {
      max-width: 100%;
    }
  }
}