page-addquiz {

  .file-upload {
    background-color: #ffffff;
    width: auto;
    margin: 0 auto;
    padding: 10px;
  }

  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #e6e6e6;
    position: relative;
  }

  .drag-text {
    text-align: center;
  }

  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #a6a6a6;
    padding: 60px 0;
  }
}
