<ion-header>
    <ion-navbar>
        <ion-title>Add New Quiz</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="errorText" class="sector">
        {{ errorText }}
    </div>

    <div *ngIf="!isUp" class="file-upload" (click)="getPicture()">
        <div class="image-upload-wrap">
            <div class="drag-text">
                <h3>
                    <ion-icon name="image"></ion-icon>
                    Select picture
                </h3>
            </div>
        </div>
    </div>
    <div class="ion-canvas">
        <canvas #canvas width="0" height="0"></canvas>
    </div>

    <ion-list *ngIf="isUp">
        <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" #iName></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Caption</ion-label>
            <ion-textarea rows='5' type='text' #iCaption></ion-textarea>
        </ion-item>

    </ion-list>
    <button ion-button full *ngIf="isUp" (click)='submit(iName.value, iCaption.value)'>Save</button>

</ion-content>