<ion-header>
    <ion-navbar>
        <ion-title>{{ "ADD_NEW_QUIZ" | translate }}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="errorText" class="sector">
        {{ errorText | translate }}
    </div>

    <div *ngIf="!isUp" class="file-upload" (click)="getPicture()">
        <div class="image-upload-wrap">
            <div class="drag-text">
                <h3>
                    <ion-icon name="image"></ion-icon>
                    {{ "SELECT_PICTURE" | translate }}
                </h3>
            </div>
        </div>
    </div>
    <div class="ion-canvas">
        <canvas #canvas width="0" height="0"></canvas>
    </div>

    <div *ngIf="isUp">
        <ion-list>
            <ion-item>
                <ion-label stacked>{{ "QUIZ_NAME" | translate }}</ion-label>
                <ion-input type="text" #iName></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>{{ "CATEGORY" | translate }}</ion-label>
                <ion-select #iCategory>
                    <ion-option *ngFor="let option of generateCategorySelect()" value="{{ option.alias }}">{{ option.name }}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked>{{ "QUIZ_CAPTION" | translate }}</ion-label>
                <ion-textarea rows='5' type='text' #iCaption></ion-textarea>
            </ion-item>

        </ion-list>
        <button ion-button full (click)='submit(iName.value, iCaption.value, iCategory.value)'>{{ "SAVE" | translate }}</button>
    </div>

</ion-content>